{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "rules": {
    "arrow-parens": ["off"],
    "consistent-return": "off",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "import/no-unresolved": ["error", { "ignore": ["electron"] }],
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-console": 0,
    "no-use-before-define": "off",
    "no-multi-assign": 0,
    "no-underscore-dangle": "off",
    "no-bitwise": "off",
    "no-plusplus": "off",
    "no-continue": "off",
    "no-unneeded-ternary": "off",
    "global-require": "off",
    "padded-blocks": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "class-methods-use-this": "off",
    "no-return-assign": "off",
    "promise/param-names": "off",
    "promise/always-return": "off",
    "promise/catch-or-return": "off",
    "promise/no-native": 0,
    "max-len": [2, {"code": 180, "tabWidth": 4, "ignoreUrls": true}],
    "no-useless-computed-key": "off",
    "no-lonely-if": "off",
    "implicit-arrow-linebreak": "off",
    "lines-between-class-members": "off",
    "operator-linebreak": "off",
    "default-case": "off"
  }
}
